extends layout
block content
  h1 Item Details
  p #{data.name}
  p #{data.url}
  p #{data.item_description}
  p #{data.stock}
  p #{data.price}
  p #{data.available}
  each img in data.img
   img(src='/uploads/#{img.filename}' class="responsive-img") 