extends layout

block content
  h1 Node.js, Express.js, Mongoose.js and Passport.js
  p User Authentication Example
  if (user)
    p You are currently logged in as #{user.username}
  else
    p You are currently not logged in. Plaese login or register...