extends layout

block content

 h1 Items

 //- this will simply generate a link to sort by name
 //- note how we only have to pass the querystring param
 //- that we want to modify here, not the entire querystring
 //-a(href=paginate.href({ sort : 'price' })) Sort by name

 //- this assumes you have `?age=1` or `?age=-1` in the querystring
 //- so this will basically negate the value and give you
 //- the opposite sorting order (desc with -1 or asc with 1)
 //-a(href=paginate.href({ sort: req.query === '1' ? -1 : 1 })) Sort by age

 ul
   each item in items
    li: a(href="item/#{item._id}") #{item.name} 
    //-a(href='#{item._id}')
  include _paginate       
 form.form-signin(role='form', action="/item",method="post", style='max-width: 300px;')
      h2.form-signin-heading Post New Items
      input.form-control(type='text', name="name", placeholder='Item Name' required)
      input.form-control(type='text', name="url", placeholder='external URL')
      input.form-control(type='text', name="stock", placeholder='Stock')
      input.form-control(type='text', name="price", placeholder='Price')
      textarea.form-control(name="description", placeholder='description')   
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
      //-div.alert.alert-success #{success_msg}
     


