extends layout

block content
 h1 Upload
  form.form-signin(role='form', action="/upload",method="post", style='max-width: 300px;', enctype="multipart/form-data")
      h2.form-signin-heading Upload Items
      if (typeof message != 'undefined')
        div.alert.alert-danger #{message}
      input.form-control(type='file', name="img")        
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
      //-div.alert.alert-success #{success_msg}
      
     


